@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
} 

body {
    margin: 0;
    padding: 0;
    background: url('https://landing.zytheme.com/siena/assets/images/background/bg-1.png');
    background-position: 0;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, .main-wrap{
    padding: 3rem 5rem;
}

.title{
    margin-bottom: 1rem;
}

.main-wrap{
    display: flex;
    flex-direction: column;
}

.logo-content{
    display: flex;
    align-items: center;
    padding: 10px;
}

nav{
    flex: 1;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    padding: 0;
}

nav ul li{
    list-style: none;
    margin: 0 10px;
}

nav a{
    color: #6262a0;
    text-decoration: none;
    font-size: 1.0em;
}

nav a:hover{
    color: #664ffa;
}

h1, h2, h3, h4{
    color: #6262a0;
    font-size: 2.3em;
    font-weight: 700;
}

p{
    color: #ababc7;
}

form {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 6px;
    box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
    
    -webkit-box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
    -moz-box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
}

form h4{
    text-align: center;
    color: #6262a0;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    text-align: center;
    font-weight: lighter;
    display: block;
    color: #664ffa;
    font-size: 0.95em;
    margin-bottom: 10px;
}

.form-control input {
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    background-color: #f7f6ff;
    color: #222;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    outline: none;
}

.form-alert{
    margin: 5px;
    text-align: center;
}

.btn-primary{
    width: 100%;
    padding: 15px;
    background-color: #664ffa;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #3b1df9;
}

section#home{
    margin-bottom: 4rem;
}

section#home .description-content{
    padding: 0 2rem;
    flex: 5;
}

section#home .form-content{
    padding: 0 2rem;
    flex: 5;
}


section#feature{
    width: 100%;
}

section#feature .title-section{
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 5rem 0;
    text-align: center;
}

.d-flex-between{
    display: flex;
    justify-content: space-between;
}

.d-flex-center{
    display: flex;
    justify-content: center;
}

.f-light{
    font-weight: normal;
}

.f-bold{
    font-weight: bold;
}

div.card-logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

div#logo-champ{
    background-color: #5c48e0;
}

div#logo-team{
    background-color: #02e6b8;
}

div#logo-chart{
    background-color: #ff8c00;
}

div.card-content{
    text-align: center;
    padding: 2rem 0;
}

div.card-content > h4{
    margin: 15px 0;
}

.panel-content .card{
    margin: 1rem;
}

